#picture {
  width: 90%;
  border: 45px solid white;
  padding: 5%;
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.5), 0 0 7px 5px white, 0 0 0px 10px gray, 0 0 0 28px black, 0 20px 7px 5px rgba(0,0,0,0.5);
  margin: 30px 30px 30px 30px;
}
